@import "../../../shared/_variable";

.form-post {
  display: flex;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px;
  border-radius: 12px;
  .user-image {
    margin-right: 25px;
  }
  .form-post__group {
    display: flex;
    align-items: center;
    width: 100%;
    input {
      flex: 1;
      width: 100%;
      height: 100%;
      font-weight: 600;
      font-size: 16px;
      border: none;
      outline: none;
    }
    .form-post__icon {
      margin-left: 20px;
      color: #D3D8E0;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $mobile-width){
  .form-post {
    .user-image {
      margin-right: 10px;
    }

    .form-post__group {
      input {
        font-weight: 500;
        font-size: 12px;
      }

      .form-post__icon {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .form-post {
    .user-image {
      margin-right: 10px;
    }

    .form-post__group {
      input {
        font-weight: 500;
        font-size: 12px;
      }

      .form-post__icon {
        margin-left: 10px;
      }
    }
  }
}