$text-color: #454545;
$blue-color: #5085e8;
$post-color: #555555;
$gray-color: #f3f4f6;
$navbottom-color: #3c5a99;
$background-color: #f6f6f9;
$white-color: #ffffff;
$pink-color: #ec4899;
$red-color: #be185d;

//responsive
$mobile-width: 320px;
$tablet-width: 480px;
$desktop-width: 768px;
$large-desktop-width: 1024px;
$max-desktop-width: 1280px;
$large-screen: 1824px;

$min-mobile-width: 320px;
$min-tablet-width: 321px;
$min-desktop-width: 481px;
$min-large-desktop-width: 769px;

// :export {
//   text-color: $text-color;
//   blue-color: $blue-color;
//   post-color: $post-color;
//   navbottom-color: $navbottom-color;
//   background-color: $background-color;
//   white-color: $white-color;
//   pink-color: $pink-color;
//   red-color: $red-color;
//   // gray-color: $gray-color;
// }
