@import '../../shared/_variable';

.information {
  min-height: 100vh;
  display: flex;
  position: relative;
  z-index: 100;
  padding-top: 80px;

  .information-wrapper {
    height: 100%;
    margin: 0 auto;
  }

  .overviews {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    .overview {
      display: flex;
      align-items: center;
      gap: 0 10px;
      color: $text-color;
      opacity: 0.9;
      cursor: pointer;
      padding: 10px 20px;
      background-color: white;
      min-width: 300px;
      min-height: 60px;
      border-radius: 8px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}

@media screen and (max-width: $mobile-width) and (min-width: $min-mobile-width) {
  .information {
    padding-left: 20px;
    .information-wrapper {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: $tablet-width) and (min-width: $min-tablet-width) {
  .information {
    .information-wrapper {
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: $desktop-width) and (min-width: $min-desktop-width) {
  .information {
    .information-wrapper {
      margin-left: 70px;
    }
  }
}

@media screen and (max-width: $large-desktop-width) and (min-width: $min-large-desktop-width) {
  .information {
    .information-wrapper {
      margin-left: 100px;
    }
  }
}
