@import '../../shared//variable.scss';

.homePage {
  background-color: $bg-greylight;
}
.home-main {
  background-color: inherit;
  min-height: 100vh;
  display: flex;
  gap: 0 10px;

  .home-main-left {
    width: 100%;
  }

  .home-main-right {
    display: none;
    width: calc(100% / 3 - 50px);
    background-color: inherit;

    .home-main-right-list {
      background-color: white;
      border-radius: 6px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      hr {
        border-bottom: 1px solid #f1f1f1;
      }

      .home-main-right-title {
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 12px;
          font-weight: 700;
          color: $text-gray-700;
        }
        span {
          font-size: 12px;
          font-weight: 600;
          color: $blue-500;
        }
      }

      .home-main-right-content {
        padding: 15px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px 10px;
      }
    }
  }
}

@media screen and (min-width: $laptop-screen) {
  .home-main {
    .home-main-left {
      width: calc(100% / 3 * 2 + 50px);
    }
    .home-main-right {
      display: block;
    }
  }
}
