@import '../../shared/variable.scss';

.userInfo {
  background-color: white;
  border-radius: 15px;
  height: fit-content;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  hr {
    border-bottom: 1px solid #f1f1f1;
  }

  .userInfo-wrapper {
    padding: 10px;
    .userInfo-background-image {
      width: 100%;
      height: 250px;
      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .userInfo-avatar-and-name {
      display: flex;
      align-items: center;
      margin-left: 20px;
      // justify-content: center;
      gap: 0 20px;
      .userInfo-avatar {
        width: 100px;
        height: 100px;
        margin-top: -20px;
        border: 5px solid white;
      }
      .userInfo-name {
        h2 {
          font-size: 20px;
          font-weight: 700;
          color: $black-color;
          line-height: 1.1;
          margin-bottom: 5px;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          color: $text-gray-500;
        }
      }
    }
  }

  .userInfo-navigate {
    padding: 10px 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 12px;

    .userInfo-navigate-item {
      margin-left: auto;
      padding-bottom: 15px;
      span {
        font-size: 13px;
        font-weight: 500;
        color: $text-gray-500;
      }
      &.active {
        border-bottom: 2px solid $black-color;
        span {
          color: $black-color;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: $ipad-screen) {
  .userInfo .userInfo-navigate .userInfo-navigate-item {
    margin-left: 15px;
  }
}
