@import '../../shared/_variable';

.post {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  max-width: 650px;

  .post-info {
    display: flex;
    justify-content: space-between;

    .post-info__left {
      display: flex;
      align-items: center;
      .post-user__image {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border: 1px solid red;
      }
      .post-user__info {
        .post-username {
          font-size: 16px;
          font-weight: 500;
          color: $text-color;
          cursor: pointer;
        }
        .post-time {
          display: none;
          font-size: 14px;
          color: $text-color;
          opacity: 0.44;
        }
      }
    }

    .post-info__right {
      color: $text-color;
      position: relative;
      cursor: pointer;
      .modal-edit-post {
        opacity: 1;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        padding: 15px;
        border-radius: 8px;
        box-shadow: -1px 0px 5px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -1px 0px 5px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 0px 5px -1px rgba(0, 0, 0, 0.75);
        z-index: 9999;
        width: 200px;
        .edit-button {
          display: flex;
          align-items: center;
          gap: 0 10px;
          padding: 10px;
          border-radius: 8px;
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
        }
        .button-delete-post {
          color: $red-color;
          &:hover {
            background-color: rgba($color: $red-color, $alpha: 0.3);
          }
        }
      }
    }
  }

  .post-content {
    // margin-top: 5px;

    .post-user-group {
      margin-bottom: 5px;
      width: fit-content;
      &.MuiAvatar-root {
      }
      .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
        width: 24px;
        height: 24px;
      }
    }

    .like-count {
      display: flex;
      align-items: center;
      gap: 0 15px;
    }

    p {
      color: $post-color;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    .post-image {
      margin-bottom: 5px;
    }
  }

  .post-action {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e9e7e7;
    border-bottom: 1px solid #e9e7e7;

    .post-action__list {
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;
      gap: 0 30px;

      .post-action__item {
        display: flex;
        align-items: center;
        gap: 0 15px;
        div {
          display: flex;
          align-items: center;
          gap: 0 15px;
          cursor: pointer;
          padding: 3px;
          border-radius: 6px;
          // width: 150px;
          color: black;
          &:hover {
            color: $red-color;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .post-comments {
    .post-add-comment {
      display: flex;
      align-items: center;
      gap: 0 10px;
      padding-top: 10px;
      input {
        border: 1px solid #e9e7e7;
        background-color: $gray-color;
        border-radius: 32px;
        padding: 5px 10px;
        width: 100%;
        height: 40px;
        font-size: 14px;
        outline: none;
      }
    }
  }
}

@media screen and (min-width: $large-desktop-width) {
  .post {
    max-width: 550px;
  }
}

@media screen and (min-width: $max-desktop-width) {
  .post {
    max-width: 1000px;
  }
}

@media screen and (min-width: 2000px) {
  .post {
    max-width: 1000px;
  }
}
