@import '../../shared/_variable';

.sidebar {
  width: 90%;
  max-width: 300px;
  // background-color: $background-color;
  background-color: $white-color;
  min-height: 100vh;
  max-height: 100vh;
  position: fixed;
  z-index: 200;
  overflow-y: scroll;
  display: none;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #bdbdbd;
  }
  .sidebar-top-menu-desktop {
    display: none;
  }
  hr {
    border: none;
    border-bottom: 1px solid #eee;
  }
  .sidebar-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    h3 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  .sidebar-menu-list {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    .sidebar-menu__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 0 15px;
      color: $text-color;
      h4 {
        color: $text-color;
        font-size: 16px;
      }
      &:hover,
      &.active,
      &:hover h4,
      &.active h4 {
        color: $red-color;
        font-weight: 600;
      }
    }
  }
  .sidebar-logout {
    padding: 10px 20px;
    button {
      display: flex;
      align-items: center;
      gap: 0 15px;
      border: none;
      outline: none;
      width: 100%;
      background-color: transparent;
      cursor: pointer;
      &:hover h4 {
        color: $red-color;
        font-weight: 600;
      }
      h4 {
        color: $text-color;
        font-size: 16px;
      }
    }
  }
  .sidebar-user {
    display: none;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@media screen and (min-width: $desktop-width) {
  .sidebar .sidebar-menu-list {
    padding-left: 60px;
    padding-right: 60px;
  }
  .sidebar .sidebar-logout {
    padding-left: 60px;
    padding-right: 60px;
  }
  .sidebar .sidebar-top-menu {
    display: none;
  }
  .sidebar .sidebar-top-menu-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    .toggle-darkmode {
      cursor: pointer;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      img {
        object-fit: cover;
      }
    }
  }
  .sidebar .sidebar-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    .sidebar-user-avatar {
      width: 80px;
      height: 80px;
      border: 2px solid red;
      margin-bottom: 20px;
    }
    .sidebar-user-name {
      margin-bottom: 20px;
      h3 {
        font-size: 20px;
        font-weight: 500;
        color: $text-color;
      }
    }
    .sidebar-user-info {
      display: flex;
      align-items: center;
      gap: 0 25px;
      .sidebar-user-info-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px 0;
        h3 {
          font-size: 15px;
          font-weight: 600;
          color: $text-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .show {
    display: block !important;
    animation: slideIn 0.5s ease-in-out forwards;
  }

  .hide {
    display: block !important;

    animation: slideOut 0.5s forwards ease-in-out;
  }
}

@media screen and (min-width: $max-desktop-width) {
  .sidebar {
    display: block;
    max-width: 300px;
  }
  div.sidebar-top-menu-desktop > div {
    display: none;
  }
}

@media screen and (min-width: $large-screen) {
  .sidebar {
    // display: block;
    max-width: 450px;
  }
}
