@import '../../shared/_variable';

.friends {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  .friends-wrapper {
    height: 100%;
    margin: 0 auto;
  }
  .friend-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 40px;
  }
  .friend-info {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-width: 450px;
    max-width: 450px;
    padding-right: 10px;
    box-shadow: -1px 2px 5px 0px rgba(89, 80, 80, 0.64);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(89, 80, 80, 0.64);
    -moz-box-shadow: -1px 2px 5px 0px rgba(89, 80, 80, 0.64);

    .friend-info-avatar {
      max-width: 133px;
      max-height: 133px;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .friend-info-name {
      font-size: 16px;
      font-weight: 600;
      color: black;
      margin-bottom: 5px;
    }

    .friend-info-status {
      font-size: 12px;
      color: $text-color;
      opacity: 0.6;
    }

    .friend-info-action {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .friends {
    padding-left: 20px;
    padding-right: 20px;
    .friends-wrapper {
      // margin-left: 20px;
      min-width: 280px;
    }
    .friend-list {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .friend-info {
      min-width: 320px;
      max-width: 320px;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .friends {
    padding-left: 50px;
    padding-right: 50px;
    .friends-wrapper {
      // margin-left: 50px;
      min-width: 320px;
    }
    .friend-list {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .friend-info {
      min-width: 320px;
      max-width: 320px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .friends {
    padding-right: 70px;
    padding-left: 70px;
    .friends-wrapper {
      .friends-right {
        display: none;
      }
    }
    .friend-list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .friend-info {
      min-width: 320px;
      max-width: 320px;
    }
  }
}

@media screen and (min-width: $large-desktop-width) {
  .friends {
    // padding-right: 100px;
    .friends-wrapper {
      // margin-left: 100px;
    }
    .friend-list {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
    .friend-info {
      min-width: 290px;
      max-width: 290px;
    }
    .friends-rightbar {
      display: none;
    }
  }
}

@media screen and (min-width: $max-desktop-width) {
  .friends .friends-wrapper {
    margin-left: 300px;
  }
}

@media screen and (min-width: $large-screen) {
  .friends .friends-wrapper {
    margin: 0 auto;
  }
  .friends .friends-rightbar {
    display: block;
  }
}
