@import '../../shared/_variable';

.profile {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
  .profile-wrapper {
    height: 100%;
    padding-top: 80px;

    .profile-info-wrapper {
      display: flex;
      align-items: center;
      gap: 0 100px;
    }

    .post-wrapper {
      margin-top: 40px;

      .post-item {
        display: flex;
        align-items: center;
        gap: 0 20px;

        .post-item__input {
          flex: 3;
        }

        .post-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          padding: 10px 20px;
          border-radius: 12px;
          gap: 0 20px;
          flex: 1;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

          .info-item {
            color: $blue-color;
            span {
              font-size: 12px;
            }
          }
        }
      }
      .post-list {
        margin-top: 20px;
        .post-list__title {
          margin-bottom: 20px;
          font-size: 25px;
          font-weight: 600;
          color: $text-color;
        }
        .post-list__wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width) and (min-width: $min-mobile-width) {
  .profile {
    padding-left: 20px;
    .profile-wrapper {
      margin-left: 20px;
      min-width: 320px;

      .profile-info-wrapper {
        gap: 0;
      }

      .profile-right {
        display: none;
      }

      .post-wrapper .post-item {
        flex-direction: column-reverse;
        gap: 30px 0;
        align-items: flex-start;

        .post-item__input {
          width: 100%;
        }
        .post-info {
          width: 100%;
        }
      }
    }
    .profile-info p {
      display: none;
    }
  }
}

@media screen and (max-width: $tablet-width) and (min-width: $min-tablet-width) {
  .profile {
    padding-right: 50px;
    .profile-wrapper {
      margin-left: 50px;
      min-width: 320px;

      .profile-info-wrapper {
        gap: 0;
      }

      .profile-right {
        display: none;
      }

      .post-wrapper .post-item {
        flex-direction: column-reverse;
        gap: 30px 0;
        align-items: flex-start;
        .post-info {
          width: 100%;
        }
      }
    }
    .profile-info p {
      display: none;
    }
  }
}

@media screen and (max-width: $desktop-width) and (min-width: $min-desktop-width) {
  .profile {
    padding-right: 70px;
    .profile-wrapper {
      margin-left: 70px;
      .profile-right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $large-desktop-width) and (min-width: $min-large-desktop-width) {
  .profile {
    padding-right: 100px;
    .profile-wrapper {
      margin-left: 100px;
    }
  }
}
