@import '../../shared/_variable';

.profile {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 80px;
  z-index: 10;
  .profile-wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-info-wrapper {
      display: flex;
      align-items: center;
      gap: 0 100px;
    }

    .post-wrapper {
      margin-top: 10px;
      max-width: 300px;
      border-top: 1px solid #e6e6e6;
      padding-top: 30px;

      .post-item {
        display: flex;
        align-items: center;
        gap: 0 20px;

        .post-item__input {
          flex: 3;
        }
      }
      .post-list {
        margin-top: 20px;
        .post-list__title {
          margin-bottom: 20px;
          font-size: 25px;
          font-weight: 600;
          color: $text-color;
        }
        .post-list__wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .profile {
    padding-left: 20px;
    padding-right: 20px;
    .profile-wrapper {
      // margin-left: 20px;
      min-width: 280px;

      .profile-info-wrapper {
        gap: 0;
      }

      .profile-right {
        display: none;
      }

      .post-wrapper .post-item {
        flex-direction: column-reverse;
        gap: 30px 0;
        align-items: flex-start;

        .post-item__input {
          width: 100%;
        }
        .post-info {
          width: 100%;
        }
      }
    }
    .profile-info p {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .profile {
    padding-right: 50px;
    padding-left: 50px;
    .profile-wrapper {
      min-width: 320px;

      .profile-info-wrapper {
        gap: 0;
      }

      .profile-right {
        display: none;
      }
      .post-wrapper {
        min-width: 380px;
        .post-item {
          flex-direction: column-reverse;
          gap: 30px 0;
          align-items: flex-start;

          .post-info {
            width: 100%;
          }
        }
      }
    }
    .profile-info p {
      display: none;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .profile {
    padding-right: 70px;
    padding-left: 70px;
    .profile-wrapper {
      margin-left: auto;
      margin-right: auto;
      .profile-right {
        display: none;
      }
      .post-wrapper {
        min-width: 600px;
      }
    }
  }
}

@media screen and (min-width: $large-desktop-width) {
  .profile {
    .profile-wrapper {
      // margin-left: 100px;
      // min-width: 1000px;
      min-width: 800px;
      .post-wrapper {
        min-width: 800px;
      }
    }
    .profile-rightbar {
      display: none;
    }
    .post-profile {
      min-width: 800px;
    }
  }
}

@media screen and (min-width: $max-desktop-width) {
  .profile .profile-wrapper {
    margin-left: 300px;
  }
}

@media screen and (min-width: $large-screen) {
  .profile .profile-wrapper {
    margin: 0 auto;
  }
  .profile .profile-rightbar {
    display: block;
  }
}

@media screen and (min-width: 2000px) {
  .profile {
    .profile-wrapper {
      align-items: flex-start;
      max-width: 1000px;
      width: 100%;
      .post-wrapper {
        min-width: 1000px;
        width: 100%;
      }
    }
  }
}
