@import '../../../shared/_variable';

.modal-user {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 280px;
  margin-top: 60px;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 8px;
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #bdbdbd;
  }
  .modal-user-top {
    padding: 15px;
    display: flex;
    align-items: center;
    h3 {
      flex: 1;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
  hr {
    border: 0;
    border-bottom: 1px solid #d3d8e0;
  }
  .modal-user-edit {
    padding: 15px;
    h3 {
      margin-right: auto;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .modal-edit-avatar {
      width: 80px;
      height: 80px;
    }

    .modal-user-edit-top {
      display: flex;
      align-items: center;
      label {
        color: $blue-color;
      }
    }
    textarea {
      max-height: 200px;
      overflow-y: auto;
      padding-right: 10px;
      display: block;
      width: 100%;
      min-height: 80px;
      line-height: 20px;
      font-size: 16px;
      letter-spacing: 0.5px;
      resize: none;
      border: none;
      outline: none;
    }
    .edit-intro {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      label {
        font-size: 14px;
        margin-top: 10px;
        font-weight: 500;
      }
      input {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        border: 1px solid #d3d8e0;
        font-size: 16px;
        letter-spacing: 0.5px;
        border-radius: 8px;
      }
    }
  }
  button {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #d3d8e0;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 8px;
    background-color: $blue-color;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #2f80ed;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .modal-user {
    width: calc(100% - 60px);
  }
}

@media screen and(min-width:$desktop-width) {
  .modal-user {
    width: 500px;
  }
  .modal-user .modal-user-edit .modal-edit-avatar {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: $large-screen) {
  .modal-user .modal-user-edit .modal-edit-avatar {
    width: 150px;
    height: 150px;
  }
}
